<%#
 Copyright 2013-2019 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
import React from 'react';
import { connect } from 'react-redux';
import { Translate } from 'react-jhipster';
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import { Typography, Button, Grid,  Chip, TableContainer, Table, TableBody, TableCell, TableHead, TableRow } from '@material-ui/core';

import { gatewayRoutes } from '../administration.reducer';

export interface IGatewayPageProps extends StateProps, DispatchProps {}

export class GatewayPage extends React.Component<IGatewayPageProps> {

  componentDidMount() {
    this.props.gatewayRoutes();
  }

  metadata = instance => {
    const spans = [];
    Object.keys(instance).map((key, index) => {
      spans.push((
        <span key={key.toString() + 'value'}>
          <Chip key={key.toString() + '-containerbadge'} className="font-weight-normal">
            <Chip key={key.toString() + '-badge'} color="info" className="font-weight-normal" pill>{key}</Chip>
            {instance[key]}
          </Chip>
        </span>
      ));
    });
    return spans;
  }

  badgeInfo = info => {
    if (info) {
      if (info.status === 'UP') {
        return <Chip color="success">{info.status}</Chip>;
      } else {
        return <Chip color="danger">{info.status}</Chip>;
      }
    } else {
      return <Chip color="warning">?</Chip>;
    }
  }

  instanceInfo = route => {
    if (route) {
      return (
  <TableContainer>
    <TableRow striped responsive>
      <TableBody>
      {route.serviceInstances.map((instance, i) =>
      <TableRow key={instance.instanceInfo + '-info'}>
        <TableCell><a href={instance.uri} target="_blank" rel="noopener noreferrer">{instance.uri}</a></TableCell>
        <TableCell>{this.badgeInfo(instance.instanceInfo)}</TableCell>
        <TableCell>{this.metadata(instance.metadata)}</TableCell>
      </TableRow>
      )}
      </TableBody>
    </Table>);
  </TableContainer>
  }
  }

  gatewayRoutes = () => {
  if (!this.props.isFetching) {
      this.props.gatewayRoutes();
    }
  }

  render() {
    const { routes, isFetching } = this.props;
    return (
      <div>
        <Typography variant="h2">Gateway</Typography>
          <p>
            <Button onClick={this.gatewayRoutes} color={'primary'} disabled={isFetching}>
              <FontAwesomeIcon icon="sync" />&nbsp;
              <Translate component="span" contentKey="health.refresh.button">Refresh</Translate>
            </Button>
          </p>

        <TableContainer>
          <Table striped responsive>
            <TableHead>
            <TableRow key="header">
              <TableCell><Translate contentKey="gateway.routes.url">URL</Translate></TableCell>
              <TableCell><Translate contentKey="gateway.routes.service">Service</Translate></TableCell>
              <TableCell><Translate contentKey="gateway.routes.servers">Available servers</Translate></TableCell>
            </TableRow>
            </TableHead>
            <TableBody>
            {routes.map((route, i) =>
            <TableRow key={`routes-${i}`}>
              <TableCell>{route.path}</TableCell>
              <TableCell>{route.serviceId}</TableCell>
              <TableCell>{this.instanceInfo(route)}</TableCell>
            </TableRow>
            )}
            </TableBody>
          </Table>

        </TableContainer>

        </div>
    );
  }
}

const mapStateToProps = storeState => ({
  routes: storeState.administration.gateway.routes,
  account: storeState.authentication.account,
  isFetching: storeState.administration.loading
});

const mapDispatchToProps = { gatewayRoutes };

type StateProps = ReturnType<typeof mapStateToProps>;
type DispatchProps = typeof mapDispatchToProps;

export default connect(mapStateToProps, mapDispatchToProps)(GatewayPage);
