<%#
 Copyright 2013-2019 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<%#
TODO: MUI
-%>
import React from 'react';

import { Button, Grid, Dialog, DialogTitle, DialogContent, DialogActions, TextField, FormGroup, Chip, TableContainer, Table, TableBody, TableCell, TableHead, TableRow } from '@material-ui/core';
import ThreadItem from './thread-item';

export interface IMetricsModalProps {
  showModal: boolean;
  handleClose: Function;
  threadDump: any;
}

export interface IMetricsModalState {
  badgeFilter: string;
  searchFilter: string;
}

export class MetricsModal extends React.Component<IMetricsModalProps, IMetricsModalState> {
  state: IMetricsModalState = {
    badgeFilter: '',
    searchFilter: ''
  };

  computeFilteredList = () => {
    const { badgeFilter, searchFilter } = this.state;
    let filteredList = this.props.threadDump.threads;
    if (badgeFilter !== '') {
      filteredList = filteredList.filter(t => t.threadState === badgeFilter);
    }
    if (searchFilter !== '') {
      filteredList = filteredList.filter(t => t.lockName &&
                                              t.lockName.toLowerCase().includes(searchFilter.toLowerCase()));
    }
    return filteredList;
  };

  computeCounters = () => {
    let threadDumpAll = 0;
    let threadDumpRunnable = 0;
    let threadDumpWaiting = 0;
    let threadDumpTimedWaiting = 0;
    let threadDumpBlocked = 0;

    this.props.threadDump.threads.forEach(t => {
      switch (t.threadState) {
        case 'RUNNABLE':
          threadDumpRunnable++;
          break;
        case 'WAITING':
          threadDumpWaiting++;
          break;
        case 'TIMED_WAITING':
          threadDumpTimedWaiting++;
          break;
        case 'BLOCKED':
          threadDumpBlocked++;
          break;
        default:
          break;
      }
    });

    threadDumpAll = threadDumpRunnable + threadDumpWaiting + threadDumpTimedWaiting + threadDumpBlocked;
    return { threadDumpAll, threadDumpRunnable, threadDumpWaiting, threadDumpTimedWaiting, threadDumpBlocked };
  };

  getChipClass = threadState => {
    if (threadState === 'RUNNABLE') {
      return 'badge-success';
    } else if (threadState === 'WAITING') {
      return 'badge-info';
    } else if (threadState === 'TIMED_WAITING') {
      return 'badge-warning';
    } else if (threadState === 'BLOCKED') {
      return 'badge-danger';
    }
  };

  updateChipFilter = badge => () => this.setState({ badgeFilter: badge });

  updateSearchFilter = event => this.setState({ searchFilter: event.target.value });

  render() {
    const { showModal, handleClose, threadDump } = this.props;
    let counters = {} as any;
    let filteredList = null;
    if (threadDump && threadDump.threads) {
      counters = this.computeCounters();
      filteredList = this.computeFilteredList();
    }

    return <Dialog
      open={showModal} onClose={handleClose} className="modal-lg">
      <DialogTitle>Threads dump</DialogTitle>
      <DialogContent>
        <Chip color="primary" className="hand" onClick={this.updateChipFilter('')}>All&nbsp;
          <Chip pill>{counters.threadDumpAll || 0}</Chip>
        </Chip>&nbsp;
        <Chip color="success" className="hand" onClick={this.updateChipFilter('RUNNABLE')}>Runnable&nbsp;
          <Chip pill>{counters.threadDumpRunnable || 0}</Chip>
        </Chip>&nbsp;
        <Chip color="info" className="hand" onClick={this.updateChipFilter('WAITING')}>Waiting&nbsp;
          <Chip pill>{counters.threadDumpWaiting || 0}</Chip>
        </Chip>&nbsp;
        <Chip color="warning" className="hand" onClick={this.updateChipFilter('TIMED_WAITING')}>Timed Waiting&nbsp;
          <Chip pill>{counters.threadDumpTimedWaiting || 0}</Chip>
        </Chip>&nbsp;
        <Chip color="danger" className="hand" onClick={this.updateChipFilter('BLOCKED')}>Blocked&nbsp;
          <Chip pill>{counters.threadDumpBlocked || 0}</Chip>
        </Chip>&nbsp;
        <div className="mt-2">&nbsp;</div>
        <Input type="text" className="form-control" placeholder="Filter by Lock Name..."
               onChange={this.updateSearchFilter}/>
        <div style={{ padding: '10px' }}>
          {filteredList ? filteredList.map((threadDumpInfo, i) =>
            (
              <div key={`dump-${i}`}>
                <Typography variant="h6"> <span className={'badge ' + this.getChipClass(threadDumpInfo.threadState)}>{threadDumpInfo.threadState}</span>&nbsp;
                  {threadDumpInfo.threadName} (ID {threadDumpInfo.threadId})&nbsp;
                </Typography>
                <ThreadItem threadDumpInfo={threadDumpInfo} />
                  <Grid container>
                    <Grid item xs={12}>
                      <TableContainer>
                        <Table>
                          <TableHead>
                          <TableRow>
                            <TableCell>Blocked Time</TableCell>
                            <TableCell>Blocked Count</TableCell>
                            <TableCell>Waited Time</TableCell>
                            <TableCell>Waited Count</TableCell>
                            <TableCell>Lock Name</TableCell>
                          </TableRow>
                          </TableHead>
                          <TableBody>
                          <TableRow key={threadDumpInfo.lockName}>
                            <TableCell>{threadDumpInfo.blockedTime}</TableCell>
                            <TableCell>{threadDumpInfo.blockedCount}</TableCell>
                            <TableCell>{threadDumpInfo.waitedTime}</TableCell>
                            <TableCell>{threadDumpInfo.waitedCount}</TableCell>
                            <TableCell className="thread-dump-modal-lock" title={threadDumpInfo.lockName}>
                              <code>{threadDumpInfo.lockName}</code></TableCell>
                          </TableRow>
                          </TableBody>

                        </Table>
                      </TableContainer>
                    </Grid>
                  </Grid>
              </div>
            )
          ) : null}
        </div>
      </DialogContent>
      <DialogActions>
        <Button color="primary" onClick={handleClose}>Close</Button>
      </DialogActions>
    </Dialog>;
  }
}

export default MetricsModal;
