<%#
 Copyright 2013-2019 the original author or authors from the JHipster project.

 This file is part of the JHipster project, see https://www.jhipster.tech/
 for more information.

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-%>
<%#
TODO: MUI
-%>
import React, { useState, useEffect } from 'react';
import { connect } from 'react-redux';
import { TextField, Grid, Paper, Typography, Button, TableContainer, Table, TableBody, TableCell, TableHead, TableRow, Chip } from '@material-ui/core'
import { Translate } from 'react-jhipster';

import { getConfigurations, getEnv } from '../administration.reducer';
import { IRootState } from 'app/shared/reducers';

export interface IConfigurationPageProps extends StateProps, DispatchProps {}

export const ConfigurationPage = (props: IConfigurationPageProps) => {
  const [filter, setFilter] = useState('');
  const [reversePrefix, setReversePrefix] = useState(false);
  const [reverseProperties, setReverseProperties] = useState(false);

  useEffect(() => {
    props.getConfigurations();
    props.getEnv();
  }, []);

  const changeFilter = evt => setFilter(evt.target.value);

  const envFilterFn = configProp => configProp.toUpperCase().includes(filter.toUpperCase());

  const propsFilterFn = configProp => configProp.prefix.toUpperCase().includes(filter.toUpperCase());

  const changeReversePrefix = () => setReversePrefix(!reversePrefix);

  const changeReverseProperties = () => setReverseProperties(!reverseProperties);

  const getContextList = contexts =>
    Object.values(contexts)
      .map((v: any) => v.beans)
      .reduce((acc, e) => ({ ...acc, ...e }));

  const { configuration } = props;

  const configProps = configuration && configuration.configProps ? configuration.configProps : {};

  const env = configuration && configuration.env ? configuration.env : {};

  return (
    <div>
      <h2 id="configuration-page-heading">
        <Translate contentKey="configuration.title">Configuration</Translate>
      </h2>
      <span>
        <Translate contentKey="configuration.filter">Filter</Translate>
      </span>{' '}
      <TextField  value={filter} onChange={changeFilter} name="search" id="search" />
      <label>Spring configuration</label>


      <TableContainer component={Paper}>
        <Table>
          <TableHead>
            <TableRow>
              <TableCell onClick={changeReversePrefix}>
                <Translate contentKey="configuration.table.prefix">Prefix</Translate>
              </TableCell>
              <TableCell onClick={changeReverseProperties}>
                <Translate contentKey="configuration.table.properties">Properties</Translate>
              </TableCell>
            </TableRow>
          </TableHead>
          <TableBody>
            {configProps.contexts
            ? Object.values(getContextList(configProps.contexts))
            .filter(propsFilterFn)
            .map((property, propIndex) => (
            <TableRow key={propIndex}>
              <TableCell>{property['prefix']}</TableCell>
              <TableCell>
                {Object.keys(property['properties']).map((propKey, index) => (
                <Grid container key={index}>
                  <Grid item md={4}>{propKey}</Grid>
                  <Grid item md={8}>
                    <Chip className="float-right badge-secondary break">{JSON.stringify(property['properties'][propKey])}</Chip>
                  </Grid>
                </Grid>
                ))}
              </TableCell>
            </TableRow>
            ))
            : null}

          </TableBody>
        </Table>
      {env.propertySources
        ? env.propertySources.map((envKey, envIndex) => (
            <div key={envIndex}>
              <h4>
                <span>{envKey.name}</span>
              </h4>

              <TableContainer component={Paper}>
                <Table>
                  <TableHead>
                    <TableRow >
                      <TableCell className="w-40">Property</TableCell>
                      <TableCell className="w-60">Value</TableCell>
                    </TableRow>
                  </TableHead>
                  <TableBody>
                    {Object.keys(envKey.properties)
                    .filter(envFilterFn)
                    .map((propKey, propIndex) => (
                    <TableRow key={propIndex}>
                      <TableCell className="break">{propKey}</TableCell>
                      <TableCell className="break">
                        <span className="float-right badge badge-secondary break">{envKey.properties[propKey].value}</span>
                      </TableCell>
                    </TableRow>
                    ))}

                  </TableBody>
                </Table>
              </TableContainer>
            </div>
          ))
        : null}
    </div>
  );
};

const mapStateToProps = ({ administration }: IRootState) => ({
  configuration: administration.configuration,
  isFetching: administration.loading
});

const mapDispatchToProps = { getConfigurations, getEnv };

type StateProps = ReturnType<typeof mapStateToProps>;
type DispatchProps = typeof mapDispatchToProps;

export default connect(mapStateToProps, mapDispatchToProps)(ConfigurationPage);
